
.home-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.titulo-app{
    margin-top: 200px;
    margin-bottom: 50px;
}

.titulo-app h1{
    font-size: 30px;
    color: pink;
    box-shadow: 1px 15px 15px 8px;
}

.logo-container{
    width: 50%;
    margin: 0 25% 0 25%;
}

.logo-container img{
    width: 70%;
    margin: 0 15%;
    border-radius: 10px;
}